<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="vertical-align-content" padding>
  <ion-grid>
    <ion-row>
      <ion-col col-md-4 offset-md-4>
        <ion-list>
          <ion-item>
            <ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
        </ion-list>
        <button ion-button full (click)="login()">Log in</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
