<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>


</ion-header>

<ion-content class="vertical-align-content" padding>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-list>
          <ion-item>
            <ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button (click)="login()">Log in</ion-button>
        <a [routerLink]="['/vehicle-list']" routerLinkActive="router-link-active" ></a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
