<!--The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-agm-map></app-agm-map>
  <app-main></app-main>
</div>

-->

<!--<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <div class="ecu-container">
    <div class="ecuDisplay">
      <div class="message"></div>
    </div>
  </div>
</div>-->
<!--<app-menu></app-menu>-->

<app-navigation></app-navigation>
