<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Controls</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-md="6" offset-md="3">
                <ion-list>
                    <ion-item>
                        <ion-label>Power</ion-label>
                        <ion-toggle (click)="togglePower()" color="primary" checked="false" [(ngModel)]="isPowered" ></ion-toggle>
                    </ion-item>
                    <ion-item>
                        <ion-label>Lights</ion-label>
                        <ion-toggle (click)="toggleLight()" color="primary" checked="false" [(ngModel)]="isLit"></ion-toggle>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>




