<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/controlcenter/tabs/diagnostics"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ diagnosticDetail.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-item color={{connectedColor}}>
          <ion-label >
            {{ wsIsConnectedView }}
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ul>
          <div *ngFor="let diag of diagnostics">
            <p>{{ diag.detail }}</p>
        
          </div>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
